@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.about__info {
    animation: opacity, slideInLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.about__images {
    animation: opacity, slideInRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1;
}

.header__logo {
    height: 30px;
}

a {
    text-decoration: none;
    color: #213053;
}

header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px; 
}

button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
}
    
.about__image {
    width: 500px;
  }
   
.about__sun-image {
    width: 100px;
    height: 100px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
  }

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 115px 0;
    background: url('../img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.about h1 {
    font-size: 70px;
    line-height: 76px;
}

.about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}

.about button {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}

.about__info {
    max-width: 550px;
}

.form__container {
    width: 550px;
}

.form {
    background-color:  #1D263A;
    color: #fff;
    padding: 115px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form h1 {
    font-size: 48px;
}

.form p {
    font-size: 18px;
    opacity: 0.65;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form label {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
}

.form input, .form select {
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
}

.form__submit {
    font-size: 18px;
    font-weight: 600;
    margin-top: 60px;
    width: 100%;
}

select {
    appearance: none;
}

input {
    outline: none;
}

button:hover {
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    background-color: #f6980c;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.features {
    background-color: #fff;
    padding: 115px 60px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card {
    margin: 25px;
    padding: 35px 40px 25px 40px;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
}

.card p {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;
}

.card__logo {
    height: 100px;
    width: 100px;
    font-size: 32px;
    font-weight: 700;
    background-color: #eaeff9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first__card {
    color: #ffb406;
}
.second__card{
    color: #ad1714;
}
.three__card {
    color: #22a030;
}

.features__border {
    margin: 50px 0;
    border-bottom: 1px solid #E6EAF4;
}

.features__feedback {
    display: flex;
    justify-content: space-between;
}
.features__feedback-left {
    margin-right: 10px;
}
.features__feedback-left h2 {
    font-size: 48px;
}

.features__feedback-left p {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.7;
}

.features__feedback-right {
    display: flex;
    justify-content: space-between;
}
.features__box {
    padding: 30px 40px 25px 40px;
    color: #fff;
    border-radius: 25px;
}

.features__box h3 {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 48px;
}

.features__savings-box {
    background-color: #dc5e26;
    box-shadow: 6px 0 0 rgb(221 95 38 / 20%);
    margin-right: 30px;
}
.features__rate-box {
    background-color: #1D263A;
    box-shadow: 6px 0 0 rgb(29 38 58 / 20%);
}
.stars {
    color: #ff7039;
}

.promo {
    display: flex;
}

.promo__image {
    background-image: url('../img/promo.jpg');
    width: 50%;
    background-size: cover;  
    background-position: center;   
    background-repeat: no-repeat; 
    flex-shrink: 0;
} 

.promo__right {
    background-color: #dd5f26;
    padding: 160px 60px;
}

.promo__right__card {
    background-color: #fff;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 25px;
}

.promo__right__card p {
    opacity: 0.8;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #ec6b29 ;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.promo__right-btn {
    display: flex;
    justify-content: center;
}

.promo__btn {
    background-color: #107b1c;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
}

.promo__right-btn i {
    margin-right: 5px;
    font-size: 15px;
}

footer {
    font-size: 16px;
    font-weight: 600;
    padding: 90px 20px;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__copyright {
    text-align: center;
    padding-top: 20px;
    opacity: 0.5;
}

.footer__group {
    padding-right: 80px;
}

footer h3 {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links a {
    margin-bottom: 15px;
}